extends layouts/main

block body
  h1 #{restaurant.name}
  h6 [#{restaurant.Category.name}]
  hr
  ul
    li 目前有 #{restaurant.Comments.length} 則評論
    li 瀏覽次數：#{restaurant.viewCounts}
    li 收藏數：
  
  a(href='javascript:history.back()') 回上一頁

